@page{
    margin-right: 1.5cm;
    margin-left: 1.5cm;
    size:8.5in 11in
}

.page
{
    /*background-image: url('images/cs_logo.png');*/
    width: 100%;
    height:100%;
    position:absolute;
    top:0px;
    bottom:0px;
    margin: auto;
    margin-top: 0px !important;
}

.page-break
{
    page-break-after: always;
}

.vertical-center
{
    position: absolute;
    top: 50%; 
    transform: translate(0, -50%);
}
.intro-title-block
{
    text-align: center;
}

.intro-title-block img
{
    min-height: 200px;
    min-width: 200px;
    max-height: 200px;
    max-width: 200px;
}

.event-title-block .block-title
{
    vertical-align: middle;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
.event-title-block .block-desc
{
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
}

.event-prep-block
{
    font-size: 22px;
    text-align: center;
}

.event-prep-block .prep-prepared
{
    margin-bottom: 20px;
}

.event-prep-block .prep-presented
{
    margin-bottom: 20px;
}



.event-prep-block .prep-org
{
    text-transform: uppercase;
    font-weight: bold;
}

.event-prep-block .prep-officer
{
    font-weight: bold;
}

.event-prep-block .prep-officer-title
{
    font-style: italic;
}

.event-desc-block .block-desc
{
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
}

.event-info-block
{
    font-size: 24px;
    text-align: center;
}
.event-info-block .block-title
{
    font-weight: bold;
}

.event-img-block
{
    font-size: 24px;
    text-align: center;
}

.event-img-block .info-block p
{
   border: 1px solid black;
   padding: 3px
}

.event-img-block .img-block
{
    margin-left: auto;
    margin-right: auto;
    max-width: 676px;
}

.event-img-block .img-block img
{
    min-width: 672px;
    max-width: 672px;
    min-height: 480px;
    max-height: 480px;
    border: 1px solid black;
}