/* ---------------------------------------------------
    SIDEBAR STYLE start
----------------------------------------------------- */



#sidebar {
    position:fixed;
	height:100vh!important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index:11;
    width: 260px;
	overflow:auto;
	transition:all 0.3s ;
    background: #FFFFFF;
    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}


#sidebar::-webkit-scrollbar{
	width:7px;
	border-radius:10px;
	background-color:rgb(197, 194, 194);
	display:none;
}
#sidebar::-webkit-scrollbar-thumbs{
	width:5px;
	border-radius:10px;
	background-color:#333;
	display:none;
}


#sidebar:hover::-webkit-scrollbar{
	display:block;
}
#sidebar:hover::-webkit-scrollbar-thumbs{
	display:block;
}

#sidebar .sidebar-header {
    padding:20px;
	background-color:#ffffff;
	border-bottom:1px solid #eee;
}

.sidebar-header h3{
	color:#333;
	font-size:17px;
	margin:0px;
	text-transform:uppercase;
	transition:all 0.5s ease;
	font-weight:600;
    font-size: 1.7rem;
}

.sidebar-category h5{
	color:#333;
	margin:0px;
	text-transform:uppercase;
	transition:all 0.5s ease;
	font-weight:600;
    font-size: 1rem;
	padding-left: 28px;
	padding-top: 5px;
}

.sidebar-header h3 img{
	width:45px;
	margin-right:10px;
}

#sidebar ul li{
	padding:2px 7px;
}

#sidebar ul li.active>a{
    color: #333;
}

#sidebar ul li a:hover{
    color: #333;
    background-color: rgba(200, 200, 200, 0.2);
}

.dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 23px;
}

#sidebar ul li.drodown{
	position:sticky;
}


#sidebar ul.components {    
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
	line-height: 30px;
	border-radius:5px;
    font-size: 15px;
	position:relative;
    font-weight: 400;
    display: block;
}

#sidebar .dropdown .collapse.list-unstyled.menu li a {
    padding-left: 30px;
}

#sidebar ul li a span{
	text-transform:capitalize;
	display:inline-block;
}

#sidebar ul li a i {
    position: relative;
    margin-right: 10px;
    top: 5px;
	color: #555555;
    margin-left: 10px;
}





/* ---------------------------------------------------
   sidebar end
----------------------------------------------------- */


#sidebar.show-nav,.body-overlay.show-nav{
	transform:translatex(0%);
	opacity:1;
	display:block;
	visibility:visible;
	z-index:15;
}





/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (min-width:992px){
	#sidebar.active {
    width:80px;
	height:100%!important;
	position:absolute!important;
	overflow:visible!important;
	top:0!important;
	z-index:666;
	float:left!important;
    bottom: 0!important;
}


#sidebar.active .sidebar-header h3 span {
   display:none;
   transition:all 0.5s ease;
}

#sidebar.active .sidebar-category {
	display:none;
	transition:all 0.5s ease;
 }

#sidebar.active ul li a span{
    display:none;
	transition:all 0.5s ease;
}

#sidebar.active .dropdown-toggle::after {
    display:none;
	transition:all 0.5s ease;
}

#content {
    width: calc(100% - 260px);
    position: relative;
    float: right;
    transition: all 0.3s;
    background-color: #EEEEEE;
}  

#content.active {
    width: calc(100% - 80px);
} 

#sidebar.active .menu {
    position: absolute;
    left: 81px;
    background-color: white;
    width: 180px;
    height: auto;
    margin: 5px 0;
    top: 0;
    border: 1px solid #dcd9d9;
    z-index: 4;
}                                                                                                                                                                                                              
}


/* @media only screen and (min-width:992px){
.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
	transform: translate3d(0, -20px, 0);
    visibility: hidden;
	transition: all 150ms linear;
    display: block;
	min-width:15rem;
	right: 0;
    left: auto;
    opacity: 0;
}
	
} */


/*===============small-screen overlay sidebar design media queries==============*/

@media only screen and (max-width:992px){
#sidebar {
    position:fixed;
    top: 0;
    bottom:0;
    z-index: 10;
    width: 260px;
	transform:translatex(-100%);
	transition: all 150ms linear;
	box-shadow:none!important;
}	

.body-overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	visibility:hidden;
	opacity:0;
	z-index:3;
	transition: all 150ms linear;
	background-color:rgba(0,0,0,0.5);
}
}
/*===============small-screen overlay sidebar design media queries==============*/